*.temp
.vscode
C:\Users\A.B.U\OneDrive\Desktop\git\python problem\project\rock paper scissors\rock_paper_scissors.exe
C:\Users\A.B.U\OneDrive\Desktop\git\python problem\project\guess game\guess_game.exe
